.testimonialsContainer {
    width: 100%;
    background-color: hsl(218, 28%, 13%);
    padding-bottom: 7em;

}

.testimonialCardsContainer {
    max-width: 100% !important;
    padding-top: 8em;
    padding-bottom: 8em;

    margin: auto !important;
}

.testimonialCard {
    background-color: hsl(219, 30%, 18%);
    margin: auto;
    color: white;
    padding: 1em;
    flex: 0 0 29.333333%;
    max-width: 29.333333%;


}

.testimonialCardRow {
    margin: auto !important;
    background-repeat: no-repeat;
    background-image: url("../images/bg-quotes.png");
    padding-top: 2em;


    width: 100%;
}

.marginDiv {
    background-image: url("../images/bg-quotes.png");
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
}

.profilePicture {
    border-radius: 100em;
    height: 3em;
}

@media (min-width: 768px) {
    .testimonialCard.col-md-4 {
        flex: 0 0 29.333333%;
        max-width: 29.333333%;
    }
}

@media (max-width: 768px) {
    .testimonialCard {
        margin-top:2em;
        z-index: 1;
        max-width:80%;
    }

        .testimonialCardRow {

            display: block !important;
    }


.testimonialCardRow {
background-position-y: 2em;
}
}

