.App {
  height: 100%;
  background-color: hsl(217, 28%, 15%);
}
body {
  height: 100%;


}

body p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}


#root {
  height:100%;
}

